.container {
  padding: 0 2rem;
}

.bannerContainer{
  background-color: #5271ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;
}

.banner{
  width: 75%;
  height: auto;
  margin: 0 auto;
}



$azul: #5271ff;
$button-bg: $azul;
$button-text-color: #fff;
$baby-blue: #f8faff;

.bubblybutton{
  font-family: cactusregular;
  font-weight: 300;
  display: inline-block;
  font-size: 3rem;
  padding: 1.5rem 2rem;
  margin: 50px 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(82, 113, 255, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

.intructionSection{
width: 70%;
}

.instructiones{
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 40px 15px;
}

.instructiones h2{
  color: #ec5505;
  font-size: 4.6rem;
  font-family: cactusregular;
}

.instructiones p {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 30px 0 15px;
}

.instructionImpar, .instructionPar{
  display: flex;
  justify-content: space-around;
}

.instructionPar{
  flex-direction: row-reverse;
}

.ultimaInstruction{
  display: flex;
  justify-content: center;
  text-align: center;
}

.instructionesUno,.instructionesDos,.instructionesTres,.instructionesCuatro, .instructionesCinco{
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  margin-right: 10px;

}

.instructionesUno{
  background-image: url('../public/icons8-1-llave-50.png');
}

.instructionesDos{
  background-image: url('../public/icons8-2-llave-50.png');
}

.instructionesTres{
  background-image: url('../public/icons8-3-llave-50.png');
}

.instructionesCuatro{
  background-image: url('../public/icons8-4-clave-50.png');
}

.instructionesCinco{
  background-image: url('../public/icons8-5-clave-50.png');
}

.imageOne, .imageTwo, .imageThree, .imageFour{
  max-height: 500px;
  width: auto;
}

.footerImage{
  max-width: 420px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.infoSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
  color: white;
}

.infoSection li{
  font-size: 1.6rem;
  margin: 0;
}

.infoSection lu li::marker{
  margin-right: 0;
}

.infoSection lu{
  padding: 20px 30px;
}

.eafit{
  margin-top: 50px;
  max-width: 450px;
}

.infoSection>h2{
  font-size: 4.6rem;
  margin: 20px 0;
  font-family: cactusregular;
  font-weight: 300;
}


.infoSection>h6{
  font-size: 2.4rem;
  margin: 0;
  font-family: cactusregular;
  font-weight: 300;
}

.footer {
  background-color: black;
  position: relative;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: left;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media only screen and (max-width: 1024px) {
    .footerImage{
      max-width: 420px;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 10px;
    }
}

@media only screen and (max-width: 768px) {

  .bubblybutton{
    margin: 50px auto;
  }

  .intructionSection{
    width: 100%;
  }

  .instructiones p {
    justify-content: center;
  }

  .instructionImpar, .instructionPar{
    display: block;
  }
  

  .footerImage{
    display: none;
  }

  .eafit{
    width: 90%;
    height: auto;
    margin-top: 20px;
  }

  .footer {
    justify-content:center;
  }

  .infoSection{
    margin: 10px 20px;
  }

  .banner{
    width: 100%;
  }
}